@inherits HubConnectedComponent

@if (ImageSourceBase64 is not null)
{
    <div >
        @DisplayTitle
        <br/>
        <img style="border-radius:15px;" src=@($"data:image/PNG;base64,{ImageSourceBase64}") />
    </div>
}
@code
{
    [Parameter]
    public string ImageTag{ get; set; }
    [Parameter]
    public string Title { get; set; }

    private string DisplayTitle => Title ?? ImageTag;
    protected string ImageSourceBase64 { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        base.OnParametersSetAsync();
        HubConnector.AddTaggedHandler<string>("GameplayImage", ImageTag, x =>
        {
            ImageSourceBase64 = x;
            InvokeAsync(StateHasChanged);
        });
    }
}

