@using Microsoft.AspNetCore.SignalR.Client;
<div style="width:500px;height:300px;">Screenshot Target
    <canvas width="500" height="300" id="myCanvas"></canvas>
</div>

@code {

    [Parameter]
    public Func<ScreenshotSource> SourceFunc{ get; set; }


    [Inject]
    protected IJSRuntime JSRuntime { get; set; }

    [Inject]
    private HubConnector HubConn { get; set; }

    public async void TakeScreenshot()
    {
        var id = SourceFunc();
        await JSRuntime.InvokeVoidAsync("put2Canvas", id.ID, "myCanvas");
        var base64 = await JSRuntime.InvokeAsync<string>("JsFunctions.GetCanvasDataUrl", "myCanvas");

            HubConn.Connection.InvokeAsync("CompanionAppScreenshot", base64.Substring("data:image/png;base64,".Length));
    }

}
