@page "/"


<h1>Entwicklung von VR Lehr-Lernanwendungen mit Unity</h1>

<h2>Projekt: Upload und Wiedergabe von Audio-Dateien</h2>
In diesem Thema ist in Unity ein Avatar zu modellieren, der auf die Zusendung von Audio-Dateien (z.B. MP3s) von außerhalb der Unity-Anwendung wartet.
Die Unity-Anwendung müsste also eine Schnittstelle für den Upload bzw. den Empfang von Audio-Dateien bereithalten.
Zudem gehört die Implementierung einer Webseite für die Auswahl (vom lokalen Rechner) und den Unity-Upload der Audiodatei zum Umfang dieses Themas.
NEUES BLAZOR PROJEKT
<h2>Autor: Alexander Gayko</h2>