@page "/"


<h1>Augmented and Virtual Reality WiSe2022/23</h1>

<h2>Projekt: Erweitern der VR-Fahrradwerkstatt um ein Admin-Panel</h2>

<h2>Autoren</h2>
<h3>Tim Fechner</h3>
<h3>Alexander Gayko</h3>
<h3>Lennart Küppers</h3>
<a href="UnityRemoteControl">Admin-Panel</a>